{% extends "content_base.html" %}
{% block htmltag %}class="height100"{% endblock %}
{% block bodyclass %}height100{% endblock %}
{% block containerclass %}height100{% endblock %}
{% block overlayclass %}height100{% endblock %}
{% block slab %}
	<div class="smallbox p_all-6" style="margin:0 auto;">
		
		<form method="post" action="">
			<fieldset>
				<img class="pos-rel" src="{{ MEDIA_URL }}images/logo-red_sm_alt.png" style="left:15%; top:1%;" />
				<ul>
					{% for field in form.visible_fields %}
						<li>
							{{field.errors}}
							{{ field.label_tag }}: {{ field }}
						</li>
					{% endfor %}
					{% for field in form.hidden_fields %}
						<li>{{ field }}</li>
					{% endfor %}
					<li><input type="submit" value="login"/></li>
				</ul>
			</fieldset>
		</form>
	</div>
{% endblock %}
