{% extends 'overexposure/blog_detail.html' %}
{% load cache_comments %}
{% load tagging_tags %} 

			{% block maincontent %}
                <h1 class="fl">{{ object.blog.name }} |</h1>
                <span class="fl red p_all-10 bold">{{ object.blog.tag_line }}</span> <br class="cl"  />
				<div class="p_all-6 transgrey50"><h3>Are you sure you want to delete this??</h3></div>
                <div class="p_all-10 width90 entry">
				  {% get_cached_comment_count object as comment_count %}
                  <span class="fr compact-text"><a href="#" class="comment-count">{{ comment_count }} comment{{ comment_count|pluralize:",s" }}</a></span>
                  <h2>{{ object.title|title }}</h2>
				  <div id="js-wiki-blog-{{ entry.pk }}">
				  	{{ object.get_html_content|safe }}
				  </div>
			  	<div>
			  		<form action="" id="deleteForm" method="post">
			  			<input type="submit"  class="dark_button" value="delete"/>
						<input type="hidden" name="next" value="{% url overexposure_admin_manage %}" />
			  		</form>
			  	</div>
                </div>
			{% endblock %}