#img-wrap-top { overflow: hidden;position: relative;}
#img-wrap {width: 800px;margin-right: auto;margin-left: auto;overflow: hidden;position: relative;height: 530px;background-color:#000;z-index: 501;}
#img-wrap img.display {position: absolute;z-index: 2;top: 0px;left:0px;}
#display-overlay{background-image: url(img/trans-bg-4.png);background-repeat: repeat; width:100%; height:100%; position:absolute;z-index:3}
#img-wrap .frame-right {background-image: url(img/trans-bg-75.png);background-repeat: repeat;height: 430px;width: 25px;margin-top: 50px;margin-bottom: 50px;overflow: hidden;z-index: 10;right: 0px;}
#img-wrap .frame-left {background-image: url(img/trans-bg-75.png);background-repeat: repeat;height: 430px;width: 25px;margin-top: 50px;margin-bottom: 50px;overflow: hidden;z-index: 10;left: 0px;}
#img-wrap .frame-top {  width: 800px;height: 50px;top:0px;left:0px;background-image: url(img/trans-bg-75.png);background-repeat: repeat;background-position: left;z-index: 10;}
#img-wrap .frame-bottom{width: 800px;height: 50px;bottom:0;left:0px;background-image: url(img/trans-bg-75.png);background-repeat: repeat;background-position: left;z-index: 10;}
#img-wrap #img-info {background-image: url(img/trans-bg-75.png);background-repeat: repeat;background-position: left top;overflow: hidden;position: absolute;left: 25px;top: 50px;z-index: 10;height: 430px; width: 165px; display:none;}
#img-info ul li {text-align: left;}
#img-info ul li p {font-size: x-small;font-weight: bolder;color: #999;}
#img-info ul li {background-image: url(img/seperator-white.png);background-repeat: no-repeat;background-position: bottom;padding:4px 0 4px 4px;}
.frame-top li {display: inline;background-image: url(img/seporator-white-vert.png);background-repeat: no-repeat;background-position: right center;padding:10px 15px;}
.frame-top li:last-child{background:none;}
.frame-top.pos-abs ul {position: absolute;right: 25px;bottom: 35%;}
#gallery-scroll ul {width: 85%;margin: auto;}
#gallery-scroll {padding: 4px;height: 100%;margin-right: 40px;margin-left: 40px;overflow: hidden;}
#gallery-scroll ul li {display: inline;padding: 2px;margin: 0 3px;}
#description{background-color:#000;}
.gallery-preview{float:left; position:relative;border:2px transparent solid; margin-right:8px;}
.gallery-preview:hover{border:2px #09F solid;}
#thumbbar img {
  padding: 5px;
  border: 1px solid #111111;
  margin-bottom:2px;
  background-image: url(img/trans-bg-50.png);
}
#thumbbar img:hover, #thumbbar img.selected {
  padding: 5px;
  border: 1px solid #222222;
  margin-bottom:2px;
  background-image: url(img/transpurple-bg-35.png);
}
#image-holder{text-align:center;}