<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link href="file:///C|/python25/Lib/site-packages/django/bin/sjphoto/static_media/css/reset.css" media="screen" rel="stylesheet" />
<link href="file:///C|/python25/Lib/site-packages/django/bin/sjphoto/static_media/css/sjbase.css" media="screen" rel="stylesheet" />
<link href="file:///C|/python25/Lib/site-packages/django/bin/sjphoto/static_media/css/MooEditable.css" media="screen" rel="stylesheet" />
<script type="text/javascript" src="file:///C|/python25/Lib/site-packages/django/bin/sjphoto/static_media/js/mootools-1.2.4-core-yc.js"></script>
<script type="text/javascript" src="file:///C|/python25/Lib/site-packages/django/bin/sjphoto/static_media/js/Autocompleter.js"></script>
<script type="text/javascript" src="file:///C|/python25/Lib/site-packages/django/bin/sjphoto/static_media/js/MenuMatic_0.68.3.js"></script>
<script type="text/javascript" src="file:///C|/python25/Lib/site-packages/django/bin/sjphoto/static_media/js/sjbase.js"></script>


</head>

<body>
<form>
<input type="text" id="auto" /> 
</form>
<script type="text/javascript">
	window.addEvent('domready', function(e){
		var tokens = ['eric', 'erin', 'estras', 'samantha', 'texas', 'hello worl'];								
		var a = new Autocompleter.Local('auto', tokens ,{
			minLength:1,
			selectMode:'type-ahead'
		});
	});
</script>
</body>
</html>
