{% extends "messages/base.html" %} 
{% load i18n %} 
{% load inbox %}
{% block htmltag %}class="height100"{% endblock %}
{% block bodyclass %}height100{% endblock %}
{% block containerclass %}height100{% endblock %}
{% block overlayclass %}height100{% endblock %}
{% block shadowup-extra %}
	<a href="/"><img class="pos-abs" style="left:5%; bottom:-5px;" src="{{ MEDIA_URL }}images/logo-red_sm_alt.png"/></a>
{% endblock %}
{% block slab %}
<h1>{% block messageheading %}{{ user.first_name }}'s Inbox{% endblock %}</h1>
<ul id="menubar">
    <li><a href="{% url messages_inbox %} " class="inbox">{% trans "Inbox" %} ({% inbox_count %})</a></li>
    <li><a href="{% url messages_outbox %} " class="sent">{% trans "Sent Messages" %}</a></li>
    <li><a href="{% url sjphoto_multi_compose %} " class="compose">{% trans "New Message" %}</a></li>
    <li><a href="{% url messages_trash %} " class="trash">{% trans "Trash" %}</a></li>
</ul>
<div class="trans35 p_all-10">
<table class="messages">
    <thead>
        <tr><th>{% trans "Sender" %}</th><th>{% trans "Subject" %}</th><th>{% trans "Received" %}</th><th>{% trans "Action" %}</th></tr>
    </thead>
    <tbody>
{% block tablebody %}
{% for message in message_list %} 
    <tr class="{% cycle '' 'alt' %}">
        <td>{{ message.sender }}</td>
        <td>
            <a href="{{message.get_absolute_url }}" class="{% if message.new %}bold{% endif %} {% if message.replied %}small italic{% endif %}">{{ message.subject }}</a>
		</td>
        <td>{{ message.sent_at|date:_("DATETIME_FORMAT") }}</td>
        <td><a href="{% url messages.views.delete message.id %}">{% trans "delete" %}</a></td>
    </tr>
	{% empty %}
	<tr><td colspan="4">{% trans "No messages." %}</td></tr>
{% endfor %}
    </tbody>
{% endblock %}
</table>
</div>
{% endblock %}
