{% extends "messages/inbox.html" %} 
{% load i18n %} 
{% load inbox %}
{% block messageheading %}{{ user.first_name }}'s Deleted Messages{% endblock %} 
{% block tablebody %}
{% for message in message_list %} 
    <tr>
        <td>{{ message.sender }}</td>
        <td> 
        {{ message.subject }}
        </td>
        <td>{{ message.sent_at|date:_("DATETIME_FORMAT") }}</td>
        <td><a href="{% url messages_undelete message.id %}">{% trans "undelete" %}</a></td>
    </tr>
{% empty %}
	<tr><td colspan="4">No Messages</td></tr>
{% endfor %}
{% endblock %}